/*
Theme Name: Nexus ADM
Theme URI: https://nexusguarapuava.com/
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description:
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: nexus
Tags:

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Framework v1)
--------------------------------------------
**** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Raleway', sans-serif;
font-family: 'K2D', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
/* BODY */
  body::-webkit-scrollbar{
    background: #fff;
    width: 8px;

  }
  body::-webkit-scrollbar-button{
    background: #1d467a;
    display: none;
  }
  body::-webkit-scrollbar-track{


  }
  body::-webkit-scrollbar-track-piece {
  }
  body::-webkit-scrollbar-thumb{
    background: #1d467a;
    border-radius: 5px;
  }
  body::-webkit-scrollbar-corner  { /* 6 */ }
  body::-webkit-resizer{

  }

/* TOPO */
.topo{
  background: #fff;
  }
    .topo .menuCima{
      width: 100%;
      background: #030a14;
      color: #fff;
    }
      .topo .menuCima ul{
        list-style: none;
        margin: 0;
        padding: 0;
      }
        .topo .menuCima ul li{
          display: inline-block;
          padding: 10px 0;
          font-size: 17px;
          padding-right: 30px;
        }
          .topo .menuCima ul li a{
            color: inherit;
            text-decoration: none;
          }
            .topo .menuCima ul li a span{
              color: #93ace3;
            }
      .topo .menuCima .redesSociaisCima{

      }
        .topo .menuCima .redesSociaisCima ul{
          text-align: right;
        }
          .topo .menuCima .redesSociaisCima ul li{
            color: #b5b5b5;
            padding: 10px 5px;
          }
            .topo .menuCima .redesSociaisCima ul li a{

            }
              .topo .menuCima .redesSociaisCima ul li a i{

              }
    .topo a{

    }
      .topo a img{
        width: 100%;
        height: auto;
        max-width: 200px;
        margin: 15px 0;
      }
    .topo .navbar{
      border-radius: 0;
      margin: 0;
      min-height: 0;
      border: none;
    }
      .topo .navbar button{
        display: none;
      }
        .topo .navbar button span{

        }
        .topo .navbar button span.icon-bar{

        }
      .topo .navbar .navbar-header{
        float: initial;
      }
        .topo .navbar .navbar-header .navbar-nav{
          float: initial;
          padding: 0;
          margin: 0;
          list-style: none;
          margin-top: 20px;
        }
          .topo .navbar .navbar-header .navbar-nav li{
            float: initial;
            display: inline-block;
          }
          .topo .navbar .navbar-header .navbar-nav li::before{
            content: "";
            display: block;
            width: 7px;
            height: 7px;
            background: #808184;
            border-radius: 100%;
            position: absolute;
            top: 17px;
            left: -4px;
          }
          .topo .navbar .navbar-header .navbar-nav li:first-child::before, .topo .navbar .navbar-header .navbar-nav li:last-child::before{
            display: none;
          }
            .topo .navbar .navbar-header .navbar-nav li a{
              color: #808184;
              text-transform: uppercase;
              font-weight: 800;
              font-size: 17px;
              padding: 10px 14px;
              font-family: 'Raleway', sans-serif;
            }
            .topo .navbar .navbar-header .navbar-nav li a.portal{

            }
            .topo .navbar .navbar-header .navbar-nav li a:focus, .topo .navbar .navbar-header .navbar-nav li a:hover{
              background:initial;
              outline: none;
            }
            .topo .navbar .navbar-header .navbar-nav li a::after{
              content: "";
              display: block;
              width: 0;
              height: 2px;
              background: #808184;
              margin-top: 3px;
              -webkit-transition: width 0.3s;
              -o-transition: width 0.3s;
              transition: width 0.3s;
            }
            .topo .navbar .navbar-header .navbar-nav li a:hover::after{
              width: 50%;
            }
            .topo .navbar .navbar-header .navbar-nav li:last-child a:hover::after{
              display: none;
            }
            .topo .navbar .navbar-header .navbar-nav li a.portal{
              background: #6a81ab;
              color: #fff;
              border-radius: 22px;
              font-weight: 600;
              padding: 10px 19px;
            }
            .topo .navbar .navbar-header .navbar-nav li a.portal::before{
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f007";
              color: #fff;
              font-size: 16px;
              display: inline-block;
              margin-right: 10px;
            }
            .topo .navbar .navbar-header .navbar-nav li a.portal::after{
              display: none;
            }

/*RODAPÉ*/
  .rodape{
    background: #eeeeee!important;
    font-family: 'Raleway', sans-serif;
    }
    .rodape .logoRodape{

    }
      .rodape .logoRodape a{
        text-decoration: none;
      }
        .rodape .logoRodape a img{
          width: 100%;
          height: auto;
          max-width: 170px;
          margin-top: 40px;
        }
    .rodape .textoRodape{
    padding: 0 20px;
    }
      .rodape .textoRodape h5{
        margin: 40px 0;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
      }
      .rodape .textoRodape ul{
        list-style: none;
        margin: 0;
        padding: 0;
      }
        .rodape .textoRodape ul li{

        }
          .rodape .textoRodape ul li a{
            font-size: 17px;
            text-decoration: none;
            color: #3d3d3d;
            font-weight: 300;
            margin: 3px 0;
            display: block;
          }
      .rodape .instagram{

      }
      .rodape .pgFacebook{
        margin-top: 40px;
        padding: 0 10px;
      }
        .rodape .pgFacebook iframe{

        }
    .rodape .copyright{
      margin-top: 30px;
      border-top: 1px solid #b5b5b5;
      padding-top: 10px;
      padding-bottom: 20px;
    }
      .rodape .copyright P{
        margin: 0;
        color: #b5b5b5;
      }
      .rodape .copyright .redesSociaisRodape{

      }
        .rodape .copyright .redesSociaisRodape ul{
          list-style: none;
          margin: 0;
          padding: 0;
          text-align: right;
        }
          .rodape .copyright .redesSociaisRodape ul li{
            display: inline-block;
            margin: 0 5px;
          }
            .rodape .copyright .redesSociaisRodape ul li a{
              font-size: 18px;
              color: #b5b5b5;
              text-decoration: none;
              outline: none;
              -webkit-transition: ease-in-out .3s;
              -o-transition: ease-in-out .3s;
              transition: ease-in-out .3s;
            }
            .rodape .copyright .redesSociaisRodape ul li a:hover{
              color: #000;
            }
              .rodape .copyright .redesSociaisRodape ul li a i{

              }

/*COPYRIGHT*/


/*PG*/


/*PÁGINA INICIAL*/
.pg-inicial{

  }
  .pg-inicial .sessaoInicial{
    background: url(../img/bannerIndex.png);
    width: 100%;
    min-height: 75vh;
    background-size: cover!important;
    background-position: center!important;
    background-attachment: fixed;
    color: #fff;
    box-shadow: inset 0px -8px 20px 9px rgba(0, 0, 0, 0.4);
  }
    .pg-inicial .sessaoInicial .conteudo{
      font-family: 'Raleway', sans-serif;
      /* position: fixed;
      width: 100%;
      z-index: 1; */
    }
      .pg-inicial .sessaoInicial .conteudo h3.titulo{
        text-align: center;
        font-size: 60px;
        max-width: 785px;
        margin: 0 auto;
        text-transform: uppercase;
        padding-top: 80px;
        font-weight: 400;
      }
        .pg-inicial .sessaoInicial .conteudo h3.titulo strong{
          font-weight: 700;
        }
      .pg-inicial .sessaoInicial .conteudo h6.subtitulo{
        margin: 0;
        text-align: center;
        font-size: 25px;
        font-weight: 100;
        font-style: italic;
        padding-top: 70px;
      }
      .pg-inicial .sessaoInicial .conteudo .botoes{
        text-align: center;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 50px;
      }
        .pg-inicial .sessaoInicial .conteudo .botoes a{
          color: #fff;
          border: 1px solid #fff;
          border-radius: 5px;
          padding: 13px 0;
          text-decoration: none;
          display: inline-block;
          width: 100%;
          max-width: 208px;
          margin: 0 5px;
          text-transform: uppercase;
          font-weight: 600;
        }
        .pg-inicial .sessaoInicial .conteudo .botoes a.orcamento{
          background: #6a81ab;
          border: 1px solid #6a81ab;
        }
      .pg-inicial .sessaoInicial .conteudo .aviso{
        display: block;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        margin-top: 100px;
        font-size: 22px;
        font-style: italic;
        font-weight: 500;
        padding-bottom: 50px;
      }
  .pg-inicial .vantagens{
    background: #eeeeee;
    position: relative;
    padding-bottom: 0;
  }
    .pg-inicial .vantagens .skewLeft{
      width: 50%;
      background: #eeeeee;
      display: inline-block;
      min-height: 200px;
      -webkit-transform: skewY(9deg);
      -ms-transform: skewY(9deg);
      transform: skewY(9deg);
      position: absolute;
      bottom: -91px;
      z-index: 3;
    }
    .pg-inicial .vantagens .skewRight{
      background: #eeeeee;
      display: inline-block;
      min-height: 200px;
      width: 50%;
      -webkit-transform: skewY(-9deg);
      -ms-transform: skewY(-9deg);
      transform: skewY(-9deg);
      position: absolute;
      right: 0;
      bottom: -91px;
      z-index: 3;
    }
    .pg-inicial .vantagens figure{
      text-align: center;
      margin-top: 45px;
    }
      .pg-inicial .vantagens figure img{
        width: 100%;
        height: auto;
        max-width: 530px;
        z-index: 5;
        position: relative;
      }
    .pg-inicial .vantagens .textoVantagens{
      font-family: 'Raleway', sans-serif;
      padding: 0 40px;
      padding-top: 120px;
      position: relative;
      z-index: 5;
    }
      .pg-inicial .vantagens .textoVantagens h3.titulo{
        font-size: 45px;
        margin: 0;
        padding-bottom: 20px;
        color: #000000;
        font-weight: 400;
      }
      .pg-inicial .vantagens .textoVantagens h3.titulo::after{
        content: "";
        display: block;
        width: 8%;
        height: 2px;
        background: #000000;
        margin-top: 8px;
      }
      .pg-inicial .vantagens .textoVantagens p{
        color: #3d3d3d;
        font-size: 25px;
        text-align: justify;
      }
        .pg-inicial .vantagens .textoVantagens p strong{

        }
  .pg-inicial .servicos{
    padding-top: 190px;
    font-family: 'Raleway', sans-serif;
    z-index: 2
  }
    .pg-inicial .servicos h2.tituloServicos{
      text-align: center;
      color: #000;
      font-size: 55px;
    }
    .pg-inicial .servicos h2.tituloServicos::after{
      content: "";
      display: block;
      width: 5%;
      height: 2.5px;
      background: #000000;
      margin:8px auto 0;
    }
      .pg-inicial .servicos .listaServicos{
        font-family: 'Raleway', sans-serif;
      }
        .pg-inicial .servicos .listaServicos ul{
          list-style: none;
          margin: 0;
          padding: 0;
          font-size: 0;
          text-align: center;
        }
          .pg-inicial .servicos .listaServicos ul li{
            display: inline-block;
            width: 100%;
            max-width: 33.3%;
            text-align: left;
            vertical-align: top;
            padding: 0 15px;
            margin-top: 60px;
          }
            .pg-inicial .servicos .listaServicos ul li .imagemServico{
              display: inline-block;
              width: 20%;
            }
              .pg-inicial .servicos .listaServicos ul li .imagemServico figure{

              }
                .pg-inicial .servicos .listaServicos ul li .imagemServico figure img{
                  width: 100%;
                  height: auto;
                  max-width: 90px;
                }
            .pg-inicial .servicos .listaServicos ul li .textoServico{
              display: inline-block;
              width: 80%;
              vertical-align: top;
              padding: 0 8px;
            }
              .pg-inicial .servicos .listaServicos ul li .textoServico h3{
                margin: 0;
                color: #000;
                margin-bottom: 15px;
                font-size: 27px;
                font-weight: 600;
                margin-top: 10px
              }
              .pg-inicial .servicos .listaServicos ul li .textoServico h3::after{
                content: "";
                display: block;
                width: 19%;
                height: 1px;
                background: #000000;
                margin-top: 8px;
              }
              .pg-inicial .servicos .listaServicos ul li .textoServico p{
                font-size: 14px;
                color: #777777;
                font-weight: 600;
                text-align: justify;
              }
  .pg-inicial .portalCondomino{
    font-family: 'Raleway', sans-serif;
    margin-top: 170px;
    z-index: 2;
  }
    .pg-inicial .portalCondomino .textoPortal{
      padding: 0 30px;
    }
      .pg-inicial .portalCondomino .textoPortal h4{
        text-align: right;
        font-size: 40px;
        margin: 0;
        padding-top: 20px;
      }
      .pg-inicial .portalCondomino .textoPortal h4::after{
        content: "";
        display: block;
        width: 8%;
        height: 3px;
        background: #000000;
        margin: 0 0 0 auto;
        margin-top: 10px;
      }
      .pg-inicial .portalCondomino .textoPortal p{
        margin-top: 30px;
        font-size: 20px;
        color: #3d3d3d;
        text-align: right;
        font-weight: 600;
      }
      .pg-inicial .portalCondomino .textoPortal a{
        border-radius: 5px;
        padding: 13px 0;
        text-decoration: none;
        display: block;
        width: 100%;
        max-width: 208px;
        text-transform: uppercase;
        font-weight: 600;
        background: #6a81ab;
        border: 1px solid #6a81ab;
        color: #fff;
        text-align: center;
        margin: 0 0 0 auto;
        margin-top: 30px;
      }
    .pg-inicial .portalCondomino .carrosselNexus{
      position: relative;
      margin-left: 40px;
    }
      .pg-inicial .portalCondomino .carrosselNexus .mockup{
        width: 100%;
        max-width: 201px;
        min-height: 421px;
        position: absolute;
        left: 0;
        background: url(../img/mockup.png);
        background-size: cover!important;
        background-position: center!important;
        top: -52px;
        z-index: 2;
      }
      .pg-inicial .portalCondomino .carrosselNexus .mockup button{
        border: none;
        outline: none;
        position: absolute;
        bottom: 58px;
        width: 42.6%;
        text-align: center;
        height: 30px;
        background: rgba(0, 0, 0, 0.68);
        color: #fff;
        font-size: 20px;
      }
      .pg-inicial .portalCondomino .carrosselNexus .mockup button.esquerdaCarrossel{
        left: 15px;
      }
      .pg-inicial .portalCondomino .carrosselNexus .mockup button.direitaCarrossel{
        right: 14px;
      }
        .pg-inicial .portalCondomino .carrosselNexus .mockup button i{

        }
      .pg-inicial .portalCondomino .carrosselNexus .carrosselPortal{
      }
        .pg-inicial .portalCondomino .carrosselNexus .carrosselPortal figure{

        }
          .pg-inicial .portalCondomino .carrosselNexus .carrosselPortal figure img{
            width: 100%;
            max-width: 171px;
            margin-left: 15px;
            height: auto;
            margin-top: 9px;
          }
          .pg-inicial .portalCondomino .carrosselNexus .carrosselPortal figure::before{
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0, 0, 0, 0.55);
            z-index: 2;
            max-width: 138px;
            max-height: 246px;
            top: 38px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
          }
          .pg-inicial .portalCondomino .carrosselNexus .owl-item:first-child figure img{
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
          }
          .pg-inicial .portalCondomino .carrosselNexus .owl-item:first-child figure::before{
            display: none;
          }
  .pg-inicial .estatisticas{
    padding-top: 60px;
    padding-bottom: 80px;
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
    background: url(../img/fundoEstatisticas.jpg);
    background-size: cover!important;
    background-position: center!important;
    background-attachment: fixed;
    z-index: 2;
  }
    .pg-inicial .estatisticas h5{
      text-align: center;
      color: #fff;
      font-family: 'Raleway', sans-serif;
      font-weight: 200;
      text-transform: uppercase;
      font-size: 33px;
      letter-spacing: 10px;
    }
    .pg-inicial .estatisticas h5::before{
      content: "";
      width: 5%;
      height: 2px;
      background: #fff;
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    .pg-inicial .estatisticas .estatisticasNexus{
      color: #fff;
    }
      .pg-inicial .estatisticas .estatisticasNexus ul{
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 0;
      }
        .pg-inicial .estatisticas .estatisticasNexus ul li{
          display: inline-block;
          width: 25%;
        }
          .pg-inicial .estatisticas .estatisticasNexus ul li span.numero{
            display: inline-block;
            color: #6a81ab;
            font-weight: 900;
            font-size: 70px;
            padding-right: 25px;
          }
          .pg-inicial .estatisticas .estatisticasNexus ul li span.numero.percent::after{
            content: '%';
            display: inline-block;
          }
          .pg-inicial .estatisticas .estatisticasNexus ul li span.numero.less::before{
            content: '-';
            display: inline-block;
          }
          .pg-inicial .estatisticas .estatisticasNexus ul li span.numero.more::before{
            content: '+';
            display: inline-block;
          }
          .pg-inicial .estatisticas .estatisticasNexus ul li p.descricao{
            display: inline-block;
            font-size: 16px;
            text-align: left;
            font-weight: 200;
            border-left: 1px solid rgba(255, 255, 255, 0.54);
            padding: 20px 0;
            padding-left: 30px;
          }
            .pg-inicial .estatisticas .estatisticasNexus ul li p.descricao strong{
              display: block;
              font-weight: 800;
            }
  .pg-inicial .noticias{
    padding: 60px 0 70px;
    font-family: 'Raleway', sans-serif;
    background: url(../img/predios.jpg);
    background-position: bottom!important;
    background-repeat: no-repeat;
    z-index: 2;
  }
    .pg-inicial .noticias h5{
      text-align: center;
      color: #000;
      font-size: 55px;
    }
    .pg-inicial .noticias h5::after{
      content: "";
      display: block;
      width: 5%;
      height: 2.5px;
      background: #000000;
      margin: 15px auto 0;
    }
    .pg-inicial .noticias .postsBlogs{

    }
      .pg-inicial .noticias .postsBlogs ul.listaDePost{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 0;
        margin-top: 40px;
      }
        .pg-inicial .noticias .postsBlogs ul.listaDePost li.post{
          width: 33.3%;
          display: inline-block;
          vertical-align: top;
          font-size: 16px;
          padding: 0 50px;
        }
          .pg-inicial .noticias .postsBlogs ul.listaDePost li.post h2.tituloPost{
            margin: 0;
            text-align: center;
            margin-bottom: 30px;
            font-weight: 400;
          }
          .pg-inicial .noticias .postsBlogs ul.listaDePost li.post h2.tituloPost::after{
            content: "";
            display: block;
            width: 20%;
            height: 1.5px;
            background: #000000;
            margin: 15px auto 0;
          }
          .pg-inicial .noticias .postsBlogs ul.listaDePost li.post article{
            border-radius: 20px;
            background: #eeeeee;
            box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.4);
          }
            .pg-inicial .noticias .postsBlogs ul.listaDePost li.post article figure.imagemDestaque{
              text-align: center;
              background-position: center!important;
              background-size: cover!important;
              height: auto;
              max-height: 276px;
              overflow: hidden;
              position: relative;
              border-radius: 15px 0 0 0;
            }
              .pg-inicial .noticias .postsBlogs ul.listaDePost li.post article figure.imagemDestaque img{
                width: 100%;
                height: auto;
                visibility: hidden;
              }
            .pg-inicial .noticias .postsBlogs ul.listaDePost li.post article span.saibaMais{
              text-align: center;
              width: 100%;
              display: block;
              padding: 15px 0;
              font-size: 18px;
              font-weight: 400;
              font-style: italic;
              background: #5a77a3;
              background-image: linear-gradient(to right, #15487d, #245285, #5a77a3, #5a77a3, #5a77a3);
              color: #fff;
            }
            .pg-inicial .noticias .postsBlogs ul.listaDePost li.post article p.descricaoPost{
              margin: 0;
              padding: 20px;
              font-weight: 600;
            }

/* PÁGINA QUEM SOMOS */
.pg-quem-somos{

  }
    .pg-quem-somos .inicial{
      background: url(../img/bannerQuemSomos.jpg);
      min-height: 600px;
      background-size: cover!important;
      background-position: bottom!important;
    }
      .pg-quem-somos .inicial .textoBanner{
        color: #fff;
        text-align: center;
        font-family: 'Raleway' ,sans-serif;
        padding-top: 150px;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        padding-bottom: 150px;
      }
        .pg-quem-somos .inicial .textoBanner p{
          margin: 0;
          font-size: 35px;
          font-family: 'K2D', sans-serif;
          font-weight: lighter;
          margin-bottom: 40px;
          letter-spacing: 5px;
        }
        .pg-quem-somos .inicial .textoBanner h2{
          margin: 0;
          font-size: 79px;
          font-weight: 500;
        }
        .pg-quem-somos .inicial .textoBanner h2::before{
          content: "";
          width: 80px;
          height: 2px;
          background: #fff;
          display: block;
          margin: 0 auto 20px;
        }
        .pg-quem-somos .inicial .textoBanner h2::after{
          content: "";
          width: 80px;
          height: 2px;
          background: #fff;
          display: block;
          margin: 30px auto;
        }
          .pg-quem-somos .inicial .textoBanner h2 strong{
            font-weight: 900;
          }
    .pg-quem-somos .sobreNexus{
    background: #eeeeee;
    }
      .pg-quem-somos .sobreNexus .textoSobre{
        font-family: 'Raleway', sans-serif;
        padding-top: 40px;
        color: #000;
      }
        .pg-quem-somos .sobreNexus .textoSobre h4{
          margin: 0;
              font-size: 40px;
              margin-bottom: 30px;
              font-weight: 400;
        }
        .pg-quem-somos .sobreNexus .textoSobre p{
          font-size: 22px;
          margin: 0;
          margin-bottom: 3px;
        }
        .pg-quem-somos .sobreNexus .textoSobre p:last-child{
          margin-top: 20px;
        }
      .pg-quem-somos .sobreNexus .redesSociais{
        padding: 70px 0;
      }
        .pg-quem-somos .sobreNexus .redesSociais ul{
          margin: 0;
          list-style: none;
          padding: 0;
          font-size: 0;
        }
          .pg-quem-somos .sobreNexus .redesSociais ul li{
            display: inline-block;
            width: 25%;
            text-align: center;
            vertical-align: top;+
          }
            .pg-quem-somos .sobreNexus .redesSociais ul li a{
              color: #000;
              font-family: 'Raleway',sans-serif;
              font-size: 25px;
              text-decoration: none;
              outline: none;
            }
              .pg-quem-somos .sobreNexus .redesSociais ul li a i{
                color: #fff;
                display: block;
                width: 150px;
                height: 150px;
                border-radius: 100%;
                background: #6f7ea7;
                margin: 0 auto;
                text-align: center;
                font-size: 50px;
                line-height: 150px;
              }
              .pg-quem-somos .sobreNexus .redesSociais ul li a span{
                display: block;
                font-size: 34px;
                margin-top: 16px;
              }
              .pg-quem-somos .sobreNexus .redesSociais ul li a p{
                margin: 0;
                color: #3d3d3d;
                font-size: 20px;
              }
    .pg-quem-somos .gMaps{
      background: #eeeeee;
      width: 100%;
    }
      .pg-quem-somos .gMaps iframe{
        width: 100%;
      }

/* PÁGINA DE LOGIN */
.pg-login{

  }
    .pg-login .bannerLogin{
      min-height: 100vh;
      background: url(../img/fundoLogin.jpg);
      background-size: cover!important;
      background-position: center!important;
      font-family: 'Raleway',sans-serif;
      color: #fff;
      position: relative;
    }
    .pg-login .bannerLogin .conteudoTexto{
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
      .pg-login .bannerLogin span{
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 55px;
        font-weight: 700;
      }
        .pg-login .bannerLogin strong{
          display: block;
          width: 100%;
          max-width: 600px;
          text-align: center;
          text-transform: uppercase;
          font-weight: 900;
          font-size: 90px;
          margin: 0 auto;
          line-height: 100px;
        }
      .pg-login .bannerLogin a{
        background: #6a81ab;
        color: #fff;
        width: 100%;
        display: block;
        text-align: center;
        padding: 17px 5px;
        max-width: 250px;
        margin: 30px auto 0;
        font-family: 'Raleway',sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        border-radius: 7px;
        text-decoration: none;
        font-size: 18px;
      }
    .pg-login .formLogin{
      height: 100vh;
      background: #eeeeee;
      position: relative;
    }
      .pg-login .formLogin .conteudoLogin{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        width: 100%;
        text-align: center;
      }
        .pg-login .formLogin .logo{

        }
          .pg-login .formLogin .logo figure{

          }
            .pg-login .formLogin .logo figure img{
              width: 100%;
              max-width: 175px;
            }
        .pg-login .formLogin form{
          text-align: center;
          padding: 50px 50px;
        }
          .pg-login .formLogin form input{
            display: block;
            width: 100%;
            margin: 10px 0;
            padding: 16px 5px;
            border-radius: 4px;
            border: 1px solid #6f7ea7;
            outline: none;
            font-family: 'Raleway',sans-serif;
            font-style: italic;
            font-size: 17px;
            padding-left: 85px;
          }
          .pg-login .formLogin form span{
            display: block;
            width: 100%;
            position: relative;
          }
          .pg-login .formLogin form span.inputText{

          }
          .pg-login .formLogin form span.inputPass{

          }
          .pg-login .formLogin form span.inputText::before{
            content: "\f007";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            display: block;
            position: absolute;
            width: 70px;
            background: #f1eee9;
            height: 97%;
            z-index: 2;
            top: 1px;
            left: 1px;
            color: #6f7ea7;
            font-size: 21px;
            line-height: 48px;
            border-radius: 2px;
          }
          .pg-login .formLogin form span.inputPass::before{
            content: "\f023";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            display: block;
            position: absolute;
            width: 70px;
            background: #f1eee9;
            height: 97%;
            z-index: 2;
            top: 1px;
            left: 1px;
            color: #6f7ea7;
            font-size: 21px;
            line-height: 48px;
            border-radius: 2px;
          }
          .pg-login .formLogin form a{
            display: block;
            text-align: right;
            font-family: 'Raleway',sans-serif;
            font-style: italic;
            color: #b3b3b3;
            font-size: 17px;
            text-decoration: none;
          }
          .pg-login .formLogin form button{
            border: 1px solid transparent;
            background: #6e7eb2;
            color: #fff;
            font-family: 'Raleway' ,sans-serif;
            font-size: 20px;
            padding: 10px 15px;
            border-radius: 7px;
            outline: none;
            margin-top: 50px;
          }
            .pg-login .formLogin form button i{
              margin-right: 10px;
            }

/* PÁGINA DE CONTATO */
.pg-contato{

  }
    .pg-contato .bannerContato{
      background: url(../img/fundoContato.jpg);
      min-height: 600px;
      background-size: cover!important;
      background-position: bottom!important;
    }
      .pg-contato .bannerContato .conteudoBanner{
        color: #fff;
        text-align: center;
        font-family: 'Raleway' ,sans-serif;
        padding-top: 150px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 150px;
      }
      .pg-contato .bannerContato span{
        margin: 0;
        font-size: 35px;
        font-family: 'K2D', sans-serif;
        font-weight: lighter;
        margin-bottom: 40px;
        letter-spacing: 5px;
      }
      .pg-contato .bannerContato h4::before{
        content: "";
        width: 80px;
        height: 2px;
        background: #fff;
        display: block;
        margin: 20px auto 0px;
      }
      .pg-contato .bannerContato h4::after{
        content: "";
        width: 80px;
        height: 2px;
        background: #fff;
        display: block;
        margin: 30px auto;
      }
      .pg-contato .bannerContato h4{
        margin: 0;
        font-size: 79px;
        font-weight: 500;
      }
        .pg-contato .bannerContato h4 strong{
          font-weight: 900;
        }
    .pg-contato .formularioContato{

    }
      .pg-contato .formularioContato p{
        margin: 0;
        text-align: center;
        font-family: 'Raleway',sans-serif;
        color: #000;
        font-size: 30px;
        font-weight: 500;
        margin-top: 40px;
        margin-bottom: 30px;
      }
      .pg-contato .formularioContato p::after{
        content: "";
        display: block;
        width: 100px;
        height: 2px;
        background: #000;
        margin: 0 auto;
        margin-top: 10px;
      }
      .pg-contato .formularioContato form{
        margin-bottom: 60px;
      }
        .pg-contato .formularioContato form span.maskInput{
          margin: 10px 0;
          display: block;
          width: 100%;
          position: relative;
        }
        .pg-contato .formularioContato form span.maskInput::before{
          content: "";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          display: block;
          position: absolute;
          width: 70px;
          background: #f1eee9;
          height: 96%;
          z-index: 2;
          top: 1px;
          left: 1px;
          color: #6f7ea7;
          font-size: 21px;
          line-height: 48px;
          border-radius: 2px;
        }
        .pg-contato .formularioContato form span.maskInput.user::before{
          content: "\f007";
          text-align: center;
        }
        .pg-contato .formularioContato form span.maskInput.mail::before{
          content: "\f0e0";
          text-align: center;
        }
        .pg-contato .formularioContato form span.maskInput.message::before{
          content: "\f086";
          text-align: center;
        }
        .pg-contato .formularioContato form span.maskInput.condominio::before{
          content: "\f1ad";
          text-align: center;
        }
        .pg-contato .formularioContato form input{
          width: 100%;
          padding: 16px 5px;
          border-radius: 4px;
          border: 1px solid #6f7ea7;
          font-family: 'Raleway',sans-serif;
          font-style: italic;
          font-size: 17px;
          padding-left: 85px;
          outline: none;
        }
        .pg-contato .formularioContato form input[type="submit"]{
          padding: initial;
          font-style: initial;
          max-width: 250px;
          margin: 0 0 0 auto;
          display: block;
          padding: 10px;
          background: #6a81ab;
          color: #fff;
          text-transform: uppercase;
          font-weight: 500;
        }
        .pg-contato .formularioContato form textarea{
          width: 100%;
          max-width: 100%;
          min-width: 250px;
          max-height: 180px;
          min-height: 180px;
          outline: none;
          padding: 16px 5px;
          border-radius: 4px;
          border: 1px solid #6f7ea7;
          font-family: 'Raleway',sans-serif;
          font-style: italic;
          font-size: 17px;
          padding-left: 85px;
          outline: none;
        }
      .pg-contato .formularioContato .redesSociaisContato{
        text-align: center;
        padding: 0 30px;
        padding-top: 115px;
      }
        .pg-contato .formularioContato .redesSociaisContato ul{
          margin: 0;
          padding: 0;
          list-style: none;
          font-size: 0;
        }
          .pg-contato .formularioContato .redesSociaisContato ul li{
            font-size: 20px;
            display: inline-block;
            width: 50%;
            font-family: 'Raleway',sans-serif;
          }
            .pg-contato .formularioContato .redesSociaisContato ul li a{
              text-decoration: none;
              color: #000;
            }
              .pg-contato .formularioContato .redesSociaisContato ul li a i{
                display: block;
                width: 150px;
                height: 150px;
                background: #6f7ea7;
                color: #fff;
                font-size: 50px;
                line-height: 150px;
                border-radius: 100%;
                margin: 10px auto;
              }
              .pg-contato .formularioContato .redesSociaisContato ul li a span{
                color: #3d3d3d;
                font-size: 17px;
              }

/* PÁGINA DE CADASTRO */
.pg-cadastro{

  }
    .pg-cadastro .bannerInicial{
      background: url(../img/fundoCadastro.jpg);
      min-height: 600px;
      background-size: cover!important;
      background-position: bottom!important;
    }
      .pg-cadastro .bannerInicial .textoBanner{
        color: #fff;
        text-align: center;
        font-family: 'Raleway' ,sans-serif;
        padding-top: 150px;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        padding-bottom: 150px;
      }
      .pg-cadastro .bannerInicial span{
        margin: 0;
        font-size: 35px;
        font-family: 'K2D', sans-serif;
        font-weight: lighter;
        margin-bottom: 40px;
        letter-spacing: 5px;
      }
      .pg-cadastro .bannerInicial h2{
        margin: 0;
        font-size: 79px;
        font-weight: 500;
      }
      .pg-cadastro .bannerInicial h2::before{
        content: "";
        width: 80px;
        height: 2px;
        background: #fff;
        display: block;
        margin: 20px auto 0;
      }
      .pg-cadastro .bannerInicial h2::after{
        content: "";
        width: 80px;
        height: 2px;
        background: #fff;
        display: block;
        margin: 30px auto;
      }
        .pg-cadastro .bannerInicial h2 strong{
          font-weight: 900;
        }
    .pg-cadastro .cadastro{
      padding-top: 50px;
    }
      .pg-cadastro .cadastro form{
        padding-bottom: 50px;
      }
        .pg-cadastro .cadastro form fieldset{
          border: 2px solid #6f7ea7;
          margin: 0 2px;
          border-radius: 11px;
          padding: 35px;
          margin-bottom: 30px;
        }
          .pg-cadastro .cadastro form fieldset legend{
            font-family: 'Raleway',sans-serif;
            font-weight: 500;
            color: #000;
            display: inline-block;
            width: auto;
            margin: 0;
            border: none;
            padding: 0 10px;
            font-size: 26px;
            margin-left: 30px;
          }
          .pg-cadastro .cadastro form fieldset .iconeForm{
            display: inline-block;
            width: 100%;
            max-width: 200px;
            text-align: center;
            vertical-align: text-bottom;
          }
            .pg-cadastro .cadastro form fieldset .iconeForm img{
              width: 100%;
              height: auto;
              max-width: 125px;
            }
          .pg-cadastro .cadastro form fieldset .camposForm{
            display: inline-block;
            width: 50%;
          }
            .pg-cadastro .cadastro form fieldset .camposForm input{

            }
            .pg-cadastro .cadastro form fieldset .camposForm input[type="submit"]{

            }
            .pg-cadastro .cadastro form fieldset .camposForm span.maskInput{
              margin: 10px 0;
              display: block;
              width: 100%;
              position: relative;
            }
            .pg-cadastro .cadastro form fieldset .camposForm span.maskInput img{
              position: absolute;
              display: block;
              z-index: 2;
              width: 100%;
              max-width: 30px;
              left: 20px;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
            }
            .pg-cadastro .cadastro form fieldset .camposForm span.maskInput::before {
              content: "";
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              display: block;
              position: absolute;
              width: 70px;
              background: #f1eee9;
              height: 96%;
              z-index: 2;
              top: 1px;
              left: 1px;
              color: #6f7ea7;
              font-size: 21px;
              line-height: 48px;
              border-radius: 2px;
              text-align: center;
            }
            .pg-cadastro .cadastro form fieldset .camposForm span.maskInput.user::before {
              content: "\f007";
            }
            .pg-cadastro .cadastro form fieldset .camposForm span.maskInput.rg::before {
              content: "\f2bb";
            }
            .pg-cadastro .cadastro form fieldset .camposForm span.maskInput.mail::before {
              content: "\f1fa";
            }
            .pg-cadastro .cadastro form fieldset .camposForm span.maskInput.phone::before {
              content: "\f095";
            }
            .pg-cadastro .cadastro form fieldset .camposForm span.maskInput.building::before {
              content: "\f1ad";
            }
            .pg-cadastro .cadastro form fieldset .camposForm span.maskInput.map::before {
              content: "\f3c5";
            }
            .pg-cadastro .cadastro form fieldset .camposForm input[type="text"],.pg-cadastro .cadastro form fieldset .camposForm input[type="email"]{
              display: block;
              background: #fff;
              margin: 10px 0;
              width: 100%;
              padding: 16px 5px;
              border-radius: 4px;
              border: 1px solid #6f7ea7;
              font-family: 'Raleway',sans-serif;
              font-style: italic;
              font-size: 17px;
              padding-left: 85px;
              outline: none;
            }
            .pg-cadastro .cadastro form fieldset .camposForm.radios{
              width: 100%;
              font-size: 0;
              text-align: center;
            }
            .pg-cadastro .cadastro form fieldset .camposForm label{
              width: 33%;
              text-align: center;
              font-size: 30px;
              font-family: 'Raleway',sans-serif;
            }
            .pg-cadastro .cadastro form fieldset .camposForm label input[type="radio"]{
              margin-right: 10px;
              width: 30px;
              height: 30px;
              vertical-align: text-top;
              border: none;
              outline: none;
              position: relative;
            }
            .pg-cadastro .cadastro form fieldset .camposForm label input[type="radio"]::before{
              content: '';
              width: 100%;
              height: 100%;
              position: absolute;
              background: #fff;
              border: 2px solid #000;
              border-radius: 100%;
            }
            .pg-cadastro .cadastro form fieldset .camposForm label input[type="radio"]::after{
              content: '';
              width: 50%;
              height: 50%;
              background: transparent;
              position: absolute;
              border-radius: 100%;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
            }
            .pg-cadastro .cadastro form fieldset .camposForm label input[type="radio"]:checked::after{
              background: #000;
              -webkit-transition: background .3s;
              -o-transition: background .3s;
              transition: background .3s;
            }
            .pg-cadastro .cadastro form input[type="submit"]{
              border: none;
              outline: none;
              background: #6a81ab;
              color: #fff;
              font-family: 'Raleway',sans-serif;
              font-size: 18px;
              text-transform: uppercase;
              padding: 10px 20px;
              width: 100%;
              max-width: 250px;
              border-radius: 5px;
              margin-bottom: 10px;
            }


/* PÁGINA DE AGENDAMENTO */
.pg-agendamento-mudanca{

  }
    .pg-agendamento-mudanca .bannerInicial{
      background: url(../img/fundoMudanca.jpg);
      min-height: 600px;
      background-size: cover!important;
      background-position: bottom!important;
    }
    .pg-agendamento-mudanca .bannerInicial .textoBanner{
      color: #fff;
      text-align: center;
      font-family: 'Raleway' ,sans-serif;
      padding-top: 150px;
      width: 100%;
      max-width: 1400px;
      margin: 0 auto;
      padding-bottom: 150px;
    }
    .pg-agendamento-mudanca .bannerInicial span{
      margin: 0;
      font-size: 35px;
      font-family: 'K2D', sans-serif;
      font-weight: lighter;
      margin-bottom: 40px;
      letter-spacing: 5px;
    }
    .pg-agendamento-mudanca .bannerInicial h2{
      margin: 0;
      font-size: 79px;
      font-weight: 500;
    }
    .pg-agendamento-mudanca .bannerInicial h2::before{
      content: "";
      width: 80px;
      height: 2px;
      background: #fff;
      display: block;
      margin: 20px auto 0;
    }
    .pg-agendamento-mudanca .bannerInicial h2::after{
      content: "";
      width: 80px;
      height: 2px;
      background: #fff;
      display: block;
      margin: 30px auto;
    }
      .pg-agendamento-mudanca .bannerInicial h2 strong{
        font-weight: 900;
      }
    .pg-agendamento-mudanca form{
      padding: 30px 0;
    }
      .pg-agendamento-mudanca form fieldset{
        border: 2px solid #6f7ea7;
        margin: 0 2px;
        border-radius: 11px;
        padding: 35px;
        margin-bottom: 30px;
      }
        .pg-agendamento-mudanca form fieldset legend{
          font-family: 'Raleway',sans-serif;
          font-weight: 500;
          color: #000;
          display: inline-block;
          width: auto;
          margin: 0;
          border: none;
          padding: 0 10px;
          font-size: 26px;
          margin-left: 30px;
        }
        .pg-agendamento-mudanca form fieldset .iconeForm{
          display: inline-block;
          width: 100%;
          max-width: 200px;
          text-align: center;
          vertical-align: text-bottom;
        }
          .pg-agendamento-mudanca form fieldset .iconeForm img{
            width: 100%;
            height: auto;
            max-width: 125px;
          }
        .pg-agendamento-mudanca form fieldset .camposForm{
          display: inline-block;
          width: 50%;
        }
          .pg-agendamento-mudanca form fieldset .camposForm span.maskInput{
            margin: 10px 0;
            display: block;
            width: 100%;
            position: relative;
          }
          .pg-agendamento-mudanca form fieldset .camposForm span.maskInput::before{
            content: "";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            display: block;
            position: absolute;
            width: 70px;
            background: #f1eee9;
            height: 96%;
            z-index: 2;
            top: 1px;
            left: 1px;
            color: #6f7ea7;
            font-size: 21px;
            line-height: 48px;
            border-radius: 2px;
            text-align: center;
          }
          .pg-agendamento-mudanca form fieldset .camposForm span.maskInput.user::before{
            content: "\f007";
          }
          .pg-agendamento-mudanca form fieldset .camposForm span.maskInput.mail::before{
            content: "\f0e0";

          }
          .pg-agendamento-mudanca form fieldset .camposForm span.maskInput.phone::before{
            content: "\f095";
          }
          .pg-agendamento-mudanca form fieldset .camposForm span.maskInput.building::before{
            content: "\f1ad";
          }
          .pg-agendamento-mudanca form fieldset .camposForm span.maskInput.calendar::before{
            content: "\f073";
          }
          .pg-agendamento-mudanca form fieldset .camposForm input[type="text"], .pg-agendamento-mudanca form fieldset .camposForm input[type="email"], .pg-agendamento-mudanca form fieldset .camposForm input[type="date"]{
            display: block;
            background: #fff;
            margin: 10px 0;
            width: 100%;
            padding: 16px 5px;
            border-radius: 4px;
            border: 1px solid #6f7ea7;
            font-family: 'Raleway',sans-serif;
            font-style: italic;
            font-size: 17px;
            padding-left: 85px;
            outline: none;
          }
          .pg-agendamento-mudanca form input[type="submit"]{
            border: none;
            outline: none;
            background: #6a81ab;
            color: #fff;
            font-family: 'Raleway',sans-serif;
            font-size: 18px;
            text-transform: uppercase;
            padding: 10px 20px;
            width: 100%;
            max-width: 250px;
            border-radius: 5px;
            margin-bottom: 10px;
          }
          .pg-agendamento-mudanca form fieldset .camposForm.radios{
            width: 100%;
            font-size: 0;
          }
          .pg-agendamento-mudanca form fieldset .camposForm label{
            width: 50%;
            text-align: center;
            font-size: 30px;
            font-family: 'Raleway',sans-serif;
          }
            .pg-agendamento-mudanca form fieldset .camposForm label input[type="radio"]{
              margin-right: 10px;
              width: 30px;
              height: 30px;
              vertical-align: text-top;
              border: none;
              outline: none;
              cursor: pointer;
              position: relative;
            }
            .pg-agendamento-mudanca form fieldset .camposForm label input[type="radio"]::before{
              content: '';
              width: 100%;
              height: 100%;
              position: absolute;
              background: #fff;
              border: 2px solid #000;
              border-radius: 100%;
            }
            .pg-agendamento-mudanca form fieldset .camposForm label input[type="radio"]::after{
              content: '';
              width: 50%;
              height: 50%;
              background: transparent;
              position: absolute;
              border-radius: 100%;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
            }
            .pg-agendamento-mudanca form fieldset .camposForm label input[type="radio"]:checked::after{
              background: #000;
              -webkit-transition: background .3s;
              -o-transition: background .3s;
              transition: background .3s;
            }

/* PÁGINA DO BLOG */
.pg-blog{

  }
    .pg-blog .bannerInicial{
      background: url(../img/fundoBlog.jpg);
      min-height: 600px;
      background-size: cover!important;
      background-position: bottom!important;
    }
        .pg-blog .bannerInicial .textoBanner{
          color: #fff;
          text-align: center;
          font-family: 'Raleway' ,sans-serif;
          padding-top: 150px;
          width: 100%;
          max-width: 1400px;
          margin: 0 auto;
          padding-bottom: 150px;
        }
        .pg-blog .bannerInicial span{
          margin: 0;
          font-size: 35px;
          font-family: 'K2D', sans-serif;
          font-weight: lighter;
          margin-bottom: 40px;
          letter-spacing: 5px;
        }
        .pg-blog .bannerInicial h2{
          margin: 0;
          font-size: 79px;
          font-weight: 500;
        }
        .pg-blog .bannerInicial h2::before{
          content: "";
          width: 80px;
          height: 2px;
          background: #fff;
          display: block;
          margin: 20px auto 0;
        }
        .pg-blog .bannerInicial h2::after{
          content: "";
          width: 80px;
          height: 2px;
          background: #fff;
          display: block;
          margin: 30px auto;
        }
          .pg-blog .bannerInicial h2 strong{
            font-weight: 900;
          }
    .pg-blog .ultimosPosts{

    }
      .pg-blog .ultimosPosts .cabecalhoPosts{
        border-bottom: 2px solid #a8a8a8;
        margin: 30px 0;
        padding-bottom: 20px;
      }
        .pg-blog .ultimosPosts .cabecalhoPosts p{
          font-family: 'Raleway',sans-serif;
          font-size: 40px;
          font-weight: 600;
        }
      .pg-blog .ultimosPosts .posts{

      }
        .pg-blog .ultimosPosts .posts ul.listaDePost{
          margin: 0;
          padding: 0;
          list-style: none;
          font-size: 0;
          margin-top: 40px;
        }
          .pg-blog .ultimosPosts .posts ul.listaDePost li.post{
            width: 33.3%;
            display: inline-block;
            vertical-align: top;
            font-size: 16px;
            padding: 0 20px;
            font-family: 'Raleway',sans-serif;
            margin-bottom: 50px;
          }
          .pg-blog .ultimosPosts .posts ul.listaDePost li.post a{
            text-decoration: none;
            color: inherit;
          }
            .pg-blog .ultimosPosts .posts ul.listaDePost li.post h2.tituloPost{
              margin: 0;
              text-align: center;
              margin-bottom: 30px;
              font-size: 28px;
              font-weight: 500;
            }
            .pg-blog .ultimosPosts .posts ul.listaDePost li.post h2.tituloPost::after{
              content: "";
              display: block;
              width: 20%;
              height: 1px;
              background: #000000;
              margin: 15px auto 0;
              -webkit-transition:  width .3s;
              -o-transition:  width .3s;
              transition:  width .3s;
            }
            .pg-blog .ultimosPosts .posts ul.listaDePost li.post h2.tituloPost:hover::after{
              width: 80%;
            }
            .pg-blog .ultimosPosts .posts ul.listaDePost li.post article{
              border-radius: 15px;
              background: #eeeeee;
              box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.4);
            }
              .pg-blog .ultimosPosts .posts ul.listaDePost li.post article figure.imagemDestaque{
                text-align: center;
                background-position: center!important;
                background-size: cover!important;
                height: 200px;
                overflow: hidden;
                position: relative;
                border-radius: 15px 0 0 0;
              }
              .pg-blog .ultimosPosts .posts ul.listaDePost li.post article figure.imagemDestaque::before{
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                background: rgba(30, 50, 83, 0.5);
                -webkit-transition: ease-in-out .2s;
                -o-transition: ease-in-out .2s;
                transition: ease-in-out .2s;
              }
              .pg-blog .ultimosPosts .posts ul.listaDePost li.post article:hover figure.imagemDestaque::before{
                opacity: 0;
              }
                .pg-blog .ultimosPosts .posts ul.listaDePost li.post article figure.imagemDestaque img{
                  width: 100%;
                  height: auto;
                  visibility: hidden;
                }
              .pg-blog .ultimosPosts .posts ul.listaDePost li.post article span.saibaMais{
                text-align: center;
                width: 100%;
                display: block;
                padding: 15px 0;
                font-size: 18px;
                font-weight: 400;
                font-style: italic;
                background: #5a77a3;
                background-image: linear-gradient(to right, #15487d, #245285, #5a77a3, #5a77a3, #5a77a3);
                color: #fff;
                -webkit-transition: linear .2s;
                -o-transition: linear .2s;
                transition: linear .2s;
              }
              .pg-blog .ultimosPosts .posts ul.listaDePost li.post article:hover span.saibaMais{
                background-color: #fff;
                background-image: none;
                color:#5a77a3;
              }
              .pg-blog .ultimosPosts .posts ul.listaDePost li.post article p.descricaoPost{
                margin: 0;
                padding: 13px;
                font-weight: 500;
                font-size: 13px;
                padding-bottom: 40px;
                text-indent: 1.5em;
                -webkit-transition: linear .2s;
                -o-transition: linear .2s;
                transition: linear .2s;
              }
              .pg-blog .ultimosPosts .posts ul.listaDePost li.post article:hover p.descricaoPost{
                color: #fff;
              }
              .pg-blog .ultimosPosts .posts ul.listaDePost li.post article:hover{
                background: #184a7f;
              }
        .pg-blog .ultimosPosts .posts .verMais{

        }
          .pg-blog .ultimosPosts .posts .verMais a{
            display: block;
            text-decoration: none;
            outline: none;
            color: #fff;
            font-family: 'Raleway',sans-serif;
            text-align: center;
            background: #6a81ab;
            width: 100%;
            max-width: 200px;
            padding: 10px 20px;
            margin: 0 auto 30px;
            border-radius: 5px;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 18px;
          }
      .sidebar{
        padding: 0 20px;
        padding-top: 43px;
      }
        .sidebar .pesquisa{

        }
          .sidebar .pesquisa form{

          }
            .sidebar .pesquisa form input{
              display: block;
              width: 100%;
              border: none;
              outline: none;
            }
            .sidebar .pesquisa form input[type="text"]{
              padding: 10px;
              border: 1px solid #a5aec8;
              border-radius: 4px;
              font-family: 'Raleway' ,sans-serif;
              font-style: italic;
              font-size: 17px;
              color: #747474;
            }
            .sidebar .pesquisa form input[type="submit"]{
              background: #6a81ab;
              color: #fff;
              font-family: 'Raleway' ,sans-serif;
              padding: 10px;
              font-size: 17px;
              text-transform: uppercase;
              font-weight: 500;
              border-radius: 4px;
              margin-top: 15px;
            }
        .sidebar .categoriasSidebar{
          margin-top: 40px;
        }
          .sidebar .categoriasSidebar p{
            background: #6a81ab;
            color: #fff;
            font-family: 'Raleway' ,sans-serif;
            padding: 10px;
            font-size: 17px;
            text-transform: uppercase;
            font-weight: 500;
            border-radius: 4px;
            margin-top: 15px;
            text-align: center;
            margin-bottom: 20px;
          }
          .sidebar .categoriasSidebar ul{
            list-style: none;
            margin: 0;
            padding: 0;
            color: #fff;
            font-family: 'Raleway',sans-serif;
          }
            .sidebar .categoriasSidebar ul li{
              display: block;
              margin: 10px 0;
              position: relative;
              background-size: cover!important;
              background-position: center!important;
              border-radius: 6px;
              position: relative;
            }
              .sidebar .categoriasSidebar ul li a{
                text-decoration: none;
                color: inherit;
                text-transform: uppercase;
                font-weight: 600;
                width: 100%;
                display: block;
                padding: 25px 0;
                text-align: center;
                background-size: cover!important;
                background-position: center!important;
                border-radius: 6px;
                position: relative;
              }
              .sidebar .categoriasSidebar ul li::before{
                content: '';
                background: rgba(106, 129, 171, 0.7);
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
              }
          .sidebar .categoriasSidebar .iframeFB{
            text-align: center;
          }
            .sidebar .categoriasSidebar .iframeFB iframe{

            }
        .sidebar .categoriasSidebar #instafeed{
          text-align: center;
        }
          .sidebar .categoriasSidebar #instafeed a{
            display: inline-block;
            width: 43%;
            text-align: center;
            margin: 5px;
            text-decoration: none;
            color: #fff;
          }
            .sidebar .categoriasSidebar #instafeed a .itemInstagram{
              background-size: cover!important;
              background-position: center!important;
              padding: 70px 0;
              position: relative;
            }
            .sidebar .categoriasSidebar #instafeed a .itemInstagram::before{
              content: "";
              opacity: 0;
              width: 100%;
              height: 100%;
              position: absolute;
              background: rgba(0, 0, 0, 0.5);
              top: 0;
              left: 0;
              -webkit-transition: ease-in-out .3s;
              -o-transition: ease-in-out .3s;
              transition: ease-in-out .3s;
            }
            .sidebar .categoriasSidebar #instafeed a:hover .itemInstagram::before{
              opacity: 1;
            }
              .sidebar .categoriasSidebar #instafeed a .itemInstagram .likeComments{
                position: relative;
                opacity: 0;
                -webkit-transition: ease-in-out .3s;
                -o-transition: ease-in-out .3s;
                transition: ease-in-out .3s;
              }
              .sidebar .categoriasSidebar #instafeed a:hover .itemInstagram .likeComments{
                opacity: 1;
              }
                .sidebar .categoriasSidebar #instafeed a .itemInstagram .likeComments span i{

                }
                .sidebar .categoriasSidebar #instafeed a .itemInstagram .likeComments .likes{

                }
                .sidebar .categoriasSidebar #instafeed a .itemInstagram .likeComments .comments{

                }

/* PÁGINA DO POST*/
.pg-post{

  }
    .pg-post .bannerInicialPost{
      background: url(../img/bannerPost.jpg);
      min-height: 200px;
      background-size: cover!important;
      background-position: center!important;
    }
  .pg-post .breadcrumbs{
    margin-top: 30px;
    padding: 30px 0;
    border-bottom: 2px solid #a4a4a4;
  }
    .pg-post .breadcrumbs ul{
      list-style: none;
      margin: 0;
      padding: 0;
    }
      .pg-post .breadcrumbs ul li{
        display: inline-block;
        font-family: 'Raleway',sans-serif;
        color: #a4a4a4;
        font-size: 20px;
        padding-right: 50px;
        position: relative;
        font-weight: 600;
      }
      .pg-post .breadcrumbs ul li:first-child::before{
          content: "";
      }
      .pg-post .breadcrumbs ul li.ativo{
        display: inline-block;
        font-family: 'Raleway',sans-serif;
        color: #000;
        font-size: 20px;
        padding-right: 50px;
      }
      .pg-post .breadcrumbs ul li.ativo::before{
        color: #000;
      }
      .pg-post .breadcrumbs ul li::before{
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        top: 0;
        left: -30px;
        color: #a4a4a4;
      }
        .pg-post .breadcrumbs ul li a{
          text-align: center;
          text-decoration: none;
          color: inherit;
        }
  .pg-post .informacoesPost{
    margin-top: 50px;
    font-family: 'Raleway',sans-serif;
    padding: 0 10px;
  }
    .pg-post .informacoesPost h1.tituloPost{
      text-align: center;
      margin: 0;
      font-size: 50px;
      font-weight: 600;
      color: #000;
    }
    .pg-post .informacoesPost span.dataPost{
      text-align: center;
      display: block;
      font-size: 23px;
      color: #a4a4a4;
      font-weight: 600;
      margin-top: 3px;
    }
    .pg-post .informacoesPost figure.imagemDestaquePost{
      width: 100%;
      background-size: cover!important;
      background-position: center!important;
      max-height: 350px;
      overflow: hidden;
      margin: 40px 0 30px;
    }
    .pg-post .informacoesPost figure.imagemDestaquePost img{
      width: 100%;
      height: auto;
      visibility: hidden;
    }
  .pg-post .conteudoPost{
    font-family: 'Raleway',sans-serif;
    color: #a4a4a4;
    font-size: 19px;
    font-weight: 500;
    padding: 0 10px;
    padding-bottom: 30px;
  }
    .pg-post .conteudoPost p{
      margin: 20px 0;
    }
    .pg-post .conteudoPost h2{
      color: #000;
      font-weight: 600;
      margin: 30px 0;
    }
    .pg-post .conteudoPost strong{

    }
  .pg-post .sidebar{

  }
    .pg-post .sidebar .pesquisa{

    }
      .pg-post .sidebar .pesquisa form{

      }
        .pg-post .sidebar .pesquisa form input{

        }
        .pg-post .sidebar .pesquisa form input[type="submiti"]{

        }
    .pg-post .sidebar .postsRelacionados{

    }
      .pg-post .sidebar .postsRelacionados p{

      }
      .pg-post .sidebar .postsRelacionados ul{

      }
        .pg-post .sidebar .postsRelacionados ul li{

        }
          .pg-post .sidebar .postsRelacionados ul li a{

          }
    .pg-post .sidebar .categoriasSidebar{

    }
      .pg-post .sidebar .categoriasSidebar p{

      }
      .pg-post .sidebar .categoriasSidebar .iframeFB{

      }
        .pg-post .sidebar .categoriasSidebar .iframeFB iframe{

        }

/*EXTRAS*/

/*@MEDIA QUERY*/
  @media(max-width:1600px){
    .pg-login .bannerLogin strong {
      font-size: 80px;
      line-height: 89px;
    }
    .pg-login .bannerLogin span {
      font-size: 50px;
    }
  }
  @media(max-width: 1400px){
    .pg-inicial .estatisticas .estatisticasNexus ul li span.numero {
      font-size: 50px;
      padding-right: 10px;
    }
  }
  @media(max-width: 1367px){
    .topo .navbar .navbar-header .navbar-nav li a {
      font-size: 14px;
    }
    .pg-inicial .estatisticas .estatisticasNexus ul li p.descricao {
      padding: 10px 0;
      padding-left: 10px;
    }
    .pg-inicial .estatisticas .estatisticasNexus ul li span.numero {
      font-size: 40px;
    }
    .pg-inicial .estatisticas h5::before {
      margin-bottom: 20px;
    }
    .pg-inicial .estatisticas h5 {
      font-size: 25px;
    }
    .pg-inicial .noticias h5, .pg-inicial .servicos h2.tituloServicos{
      font-size: 45px;
    }
    .pg-inicial .servicos .listaServicos ul li .textoServico p {
      font-size: 13px;
    }
    .pg-inicial .servicos .listaServicos ul li .textoServico h3 {
      font-size: 24px;
    }
    .pg-inicial .noticias .postsBlogs ul.listaDePost li.post h2.tituloPost {
      font-size: 25px;
    }
    .pg-inicial .noticias .postsBlogs ul.listaDePost li.post {
      padding: 0px 20px;
    }
    .pg-inicial .noticias .postsBlogs ul.listaDePost li.post article p.descricaoPost {
      font-size: 13px;
    }
    .pg-inicial .noticias .postsBlogs ul.listaDePost li.post article figure.imagemDestaque {
      max-height: 200px;
    }
    .pg-inicial .portalCondomino .textoPortal p {
      font-size: 17px;
    }
    .pg-inicial .portalCondomino .textoPortal h4 {
      font-size: 30px;
    }
    .pg-inicial .vantagens .textoVantagens p {
      font-size: 20px;
      text-align: left;
    }
    .pg-inicial .vantagens .textoVantagens h3.titulo {
      font-size: 39px;
    }
    .pg-inicial .sessaoInicial .conteudo .aviso {
      font-size: 18px;
    }
    .pg-inicial .sessaoInicial .conteudo h3.titulo {
      font-size: 40px;
      padding-top: 100px;
    }
    .pg-inicial .sessaoInicial .conteudo h6.subtitulo {
      font-size: 22px;
      padding-top: 40px;
    }
    .topo .menuCima ul li {
      font-size: 14px;
    }
    .topo a img {
      max-width: 150px;
    }
    .pg-login .bannerLogin span {
      font-size: 45px;
    }
    .pg-login .bannerLogin strong {
      font-size: 65px;
      line-height: 70px;
    }
    .pg-login .formLogin form {
      padding: 30px 15px;
    }
    .pg-login .formLogin .logo figure img {
      max-width: 155px;
    }
    .pg-contato .bannerContato {
      min-height: 450px;
    }
    .pg-contato .bannerContato .conteudoBanner {
      padding: 100px 0;
    }
    .pg-contato .bannerContato h4 {
      font-size: 59px;
      font-weight: 400;
    }
    .pg-contato .formularioContato .redesSociaisContato ul li {
      margin-bottom: 30px;
      vertical-align: top;
    }
    .pg-contato .formularioContato .redesSociaisContato ul li a i {
      width: 120px;
      height: 120px;
      font-size: 40px;
      line-height: 120px;
    }
    .pg-cadastro .bannerInicial, .pg-blog .bannerInicial {
      min-height: 250px;
    }
    .pg-cadastro .bannerInicial .textoBanner, .pg-blog .bannerInicial .textoBanner {
      padding: 100px 0;
    }
    .pg-cadastro .bannerInicial h2 {
      font-size: 50px;
    }
    .pg-cadastro .cadastro form fieldset .iconeForm {
      vertical-align: top;
    }
    .pg-cadastro .cadastro form fieldset .iconeForm img {
      max-width: 80px;
    }
    .pg-cadastro .cadastro form fieldset,.pg-agendamento-mudanca form fieldset {
      padding: 15px 0px;
      margin-bottom: 30px;
    }
    .pg-cadastro .cadastro form fieldset .camposForm label input[type="radio"],.pg-agendamento-mudanca form fieldset .camposForm label input[type="radio"] {
      width: 20px;
      height: 20px;
    }
    .pg-cadastro .cadastro form fieldset .camposForm label,.pg-agendamento-mudanca form fieldset .camposForm label {
      font-size: 25px;
    }
    .pg-cadastro .cadastro form fieldset .camposForm label input[type="radio"]::after {
      width: 40%;
      height: 40%;
    }
    .pg-agendamento-mudanca .bannerInicial span, .pg-blog .bannerInicial span {
      font-size: 30px;
      letter-spacing: 5px;
    }
    .pg-agendamento-mudanca .bannerInicial h2 {
      margin: 0;
      font-size: 50px;
      font-weight: 500;
    }
    .pg-agendamento-mudanca .bannerInicial {
      min-height: 300px;
    }
    .pg-agendamento-mudanca .bannerInicial .textoBanner {
      padding: 100px 0;
    }
    .pg-agendamento-mudanca form fieldset .iconeForm {
      vertical-align: top;
    }
    .pg-agendamento-mudanca form fieldset .iconeForm img {
      max-width: 80px;
    }
    .pg-blog .bannerInicial h2::before {
      margin: 20px auto 20px;
    }
    .pg-blog .bannerInicial h2 {
      font-size: 50px;
      font-weight: 400;
    }
    .pg-blog .ultimosPosts .posts ul.listaDePost li.post article p.descricaoPost {
      padding: 10px;
      font-size: 13px;
      padding-bottom: 20px;
    }
    .pg-blog .ultimosPosts .posts ul.listaDePost li.post {
      padding: 0 10px;
    }
    .pg-blog .ultimosPosts .posts ul.listaDePost li.post article figure.imagemDestaque {
      height: 150px;
    }
    .pg-blog .ultimosPosts .cabecalhoPosts p {
      font-size: 28px;
    }
    .pg-blog .ultimosPosts .posts ul.listaDePost li.post h2.tituloPost {
      font-size: 22px;
      margin-bottom: 15px;
    }
    .pg-post .informacoesPost h1.tituloPost {
      font-size: 40px;
    }
    .pg-post .informacoesPost span.dataPost {
      font-size: 20px;
    }
    .pg-post .conteudoPost {
      font-size: 17px;
    }
  }

  @media(max-width: 1200px){
    .topo .navbar .navbar-header .navbar-nav li {
      margin-bottom: 10px;
    }
    .pg-inicial .estatisticas .estatisticasNexus ul li p.descricao {
      border: none;
    }
    .pg-inicial .estatisticas .estatisticasNexus ul li span.numero {
      display: block;
      width: 100%;
      padding: 0;
      text-align: center;
    }
    .pg-inicial .estatisticas h5 {
      margin-bottom: 30px;
      letter-spacing: 4px;
    }
    .pg-inicial .estatisticas h5::before {
      height: 1px;
      background: rgba(255, 255, 255, 0.67);
      margin-bottom: 20px;
    }
    .topo .menuCima ul li {
      padding-right: 10px;
    }
    .pg-inicial .sessaoInicial .conteudo h3.titulo {
      max-width: 100%;
      padding: 0 10px;
      padding-top: 100px;
    }
    .pg-inicial .sessaoInicial .conteudo h6.subtitulo {
      padding: 40px 10px 0;
    }
    .pg-inicial .sessaoInicial {
      min-height: 50vh;
    }
    .pg-inicial .servicos .listaServicos ul li {
      max-width: 50%;
      padding: 0 20px;
    }
    .pg-inicial .servicos h2.tituloServicos::after {
      height: 1.5px;
    }
    .pg-inicial .noticias .postsBlogs ul.listaDePost li.post article p.descricaoPost {
      padding: 10px;
    }
    .pgFb{
      display: none;
    }
    .pg-quem-somos .inicial .textoBanner h2 {
      font-size: 55px;
    }
    .pg-quem-somos .sobreNexus .textoSobre p {
      font-size: 19px;
    }
    .pg-quem-somos .sobreNexus .textoSobre h4 {
      font-size: 35px;
    }
    .pg-quem-somos .sobreNexus .redesSociais ul li a span {
      font-size: 30px;
    }
    .pg-quem-somos .sobreNexus .redesSociais ul li a p {
      font-size: 15px;
    }
    .pg-quem-somos .sobreNexus .redesSociais ul li a i {
      width: 130px;
      height: 130px;
      font-size: 40px;
      line-height: 130px;
    }
    .pg-quem-somos .inicial {
      min-height: 350px;
    }
    .pg-quem-somos .inicial .textoBanner {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .pg-quem-somos .inicial .textoBanner p {
      font-size: 30px;
      margin-bottom: 10px;
      letter-spacing: 3px;
    }
    .pg-quem-somos .inicial .textoBanner h2 {
      font-size: 50px;
    }
    .pg-quem-somos .inicial .textoBanner h2::before {
      margin: 0 auto 20px;
    }
    .pg-quem-somos .inicial .textoBanner h2::after {
      margin: 20px auto;
    }
    .pg-blog .ultimosPosts .posts ul.listaDePost li.post article p.descricaoPost {
      font-size: 12px;
    }
  }
  @media(max-width: 991px){
    .pg-inicial .sessaoInicial .conteudo h3.titulo {
      padding-top: 60px;
      font-size: 35px;
    }
    .pg-inicial .sessaoInicial .conteudo h6.subtitulo {
      font-size: 20px;
      padding: 25px 10px 0;
    }
    .pg-inicial .sessaoInicial .conteudo .botoes a {
      padding: 13px 0;
      max-width: 200px;
      font-size: 13px;
    }
    .pg-inicial .sessaoInicial {
      min-height: 10vh;
    }
    .pg-inicial .sessaoInicial .conteudo .aviso {
      font-size: 15px;
      margin-top: 50px;
      padding-bottom: 30px;
    }
    .pg-inicial .portalCondomino .carrosselNexus {
      margin-left: 120px;
    }
    .pg-inicial .portalCondomino .textoPortal {
      padding: 0;
    }
    .pg-inicial .noticias .postsBlogs ul.listaDePost li.post {
      width: 50%;
      vertical-align: top;
      margin-top: 60px;
    }
    .pg-inicial .noticias .postsBlogs ul.listaDePost{
      text-align: center;
    }
    .rodape .logoRodape {
      text-align: center;
    }
    .rodape .textoRodape {
      text-align: center;
    }
    .pg-login .bannerLogin .conteudoTexto {
      position: initial;
      top: initial;
      left: initial;
      -webkit-transform: initial;
      -ms-transform: initial;
      transform: initial;
      padding-top: 80px;
    }
    .pg-login .bannerLogin span {
      font-size: 40px;
    }
    .pg-login .bannerLogin strong {
      font-size: 55px;
      line-height: 70px;
      max-width: 100%;
      padding: 0 20px;
    }
    .pg-login .bannerLogin a {
      padding: 13px 5px;
      max-width: 230px;
      font-size: 15px;
    }
    .pg-login .bannerLogin {
      min-height: 40vh;
    }
    .pg-login .formLogin {
      height: 60vh;
    }
    .pg-contato .formularioContato .redesSociaisContato {
      padding-top: 25px;
    }
    .pg-contato .bannerContato {
      min-height: 250px;
    }
    .pg-contato .bannerContato .conteudoBanner {
      padding: 70px 0;
    }
    .pg-contato .bannerContato span {
      font-size: 30px;
    }
    .pg-contato .bannerContato h4 {
      font-size: 45px;
    }
    .pg-contato .bannerContato h4::before {
      margin: 20px auto 20px;
    }
    .pg-cadastro .bannerInicial span,.pg-agendamento-mudanca .bannerInicial span {
      font-size: 30px;
      letter-spacing: 2px;
    }
    .pg-cadastro .bannerInicial h2,.pg-agendamento-mudanca .bannerInicial h2 {
      font-size: 40px;
    }
    .pg-cadastro .cadastro form fieldset .camposForm,.pg-agendamento-mudanca form fieldset .camposForm {
      width: 60%;
    }
    .pg-blog .bannerInicial span{
      font-size: 25px;
      letter-spacing: 4px;
    }
    .pg-blog .bannerInicial h2 {
      font-size: 40px;
    }
    .pg-blog .bannerInicial h2::before {
      height: 1px;
      margin: 20px auto 10px;
    }
    .pg-blog .bannerInicial h2::after {
      height: 1px;
      margin: 10px auto;
    }
    .pg-blog .ultimosPosts .posts ul.listaDePost li.post {
      padding: 0 20px;
      width: 50%;
    }
    .pg-blog .ultimosPosts .cabecalhoPosts p {
      font-size: 24px;
    }
    .sidebar {
      padding-bottom: 30px;
    }
  }
  @media(max-width: 767px){
    .topo .navbar button span {
        background: #1d467a;
    }
    .topo .navbar button {
      display: block;
      position: absolute;
      top: -58px;
      right: 0;
    }
    .topo .navbar .navbar-header .navbar-nav li {
      display: block;
      width: 100%;
    }
    .topo .navbar .navbar-header .navbar-nav li::before {
      display: none;
    }
    .topo .navbar .navbar-header .navbar-nav li a.portal {
      border-radius: 4px;
      width: 100%;
      max-width: 250px;
      text-align: center;
    }
    .topo .navbar .navbar-header .navbar-nav li a:hover::after {
      width: 100%;
    }
    .topo .menuCima {
      display: none;
    }
    .pg-inicial .sessaoInicial .conteudo h3.titulo {
      font-size: 29px;
    }
    .pg-inicial .servicos .listaServicos ul li {
      max-width: 100%;
    }
    .pg-inicial .portalCondomino .textoPortal a {
      margin:20px auto;
    }
    .pg-inicial .portalCondomino .textoPortal p {
      text-align: left;
      font-size: 15px;
    }
    .pg-inicial .portalCondomino .textoPortal h4 {
      font-size: 28px;
      text-align: center;
    }
    .pg-inicial .portalCondomino .textoPortal h4::after {
      height: 1px;
      margin: 0 auto;
    }
    .pg-inicial .portalCondomino .carrosselNexus {
      margin-left: 0;
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
      margin-top: 120px;
    }
    .pg-inicial .estatisticas {
      background-attachment: initial;
    }
    .pg-inicial .estatisticas .estatisticasNexus ul li {
      width: 50%;
      vertical-align: top;
    }
    .pg-inicial .noticias .postsBlogs ul.listaDePost li.post {
      width: 100%;
      padding: 0 150px;
    }
    .pg-inicial .noticias .postsBlogs ul.listaDePost{
      margin-top: 0;
    }
    .pg-inicial .noticias h5::after {
      width: 5%;
      height: 1px;
    }
    .pg-inicial .noticias h5, .pg-inicial .servicos h2.tituloServicos {
      font-size: 30px;
    }
    .pg-inicial .portalCondomino {
      margin-top: 50px;
    }
    .pg-inicial .portalCondomino .carrosselNexus .mockup button.direitaCarrossel{
      right: 15px;
    }
    .pg-quem-somos .inicial .textoBanner p {
      font-size: 26px;
    }
    .pg-quem-somos .inicial .textoBanner h2 {
      font-size: 36px;
    }
    .pg-quem-somos .sobreNexus .textoSobre h4 {
      font-size: 30px;
    }
    .pg-quem-somos .sobreNexus .textoSobre p {
      font-size: 16px;
    }
    .pg-quem-somos .sobreNexus .redesSociais ul li {
      width: 50%;
      margin-bottom: 50px;
    }
    .pg-quem-somos .sobreNexus .redesSociais ul li a span {
      font-size: 24px;
    }
    .pg-quem-somos .sobreNexus .redesSociais ul li a p {
      font-size: 14px;
    }
    .pg-quem-somos .inicial .textoBanner h2::before {
      margin: 30px auto 10px;
    }
    .pg-login .bannerLogin strong {
      font-size: 45px;
      line-height: 60px;
    }
    .pg-login .bannerLogin span {
      font-size: 35px;
    }
    .pg-contato .bannerContato span {
      font-size: 30px;
    }
    .pg-contato .bannerContato h4 {
      font-size: 40px;
    }
    .pg-contato .formularioContato p {
      font-size: 25px;
    }
    .pg-cadastro .bannerInicial h2::before,.pg-agendamento-mudanca .bannerInicial h2::before {
      height: 2px;
      margin: 20px auto 10px;
    }
    .pg-cadastro .bannerInicial h2::after,.pg-agendamento-mudanca .bannerInicial h2::after {
      margin: 20px auto;
    }
    .pg-cadastro .bannerInicial h2,.pg-agendamento-mudanca .bannerInicial h2 {
      font-size: 30px;
    }
    .pg-cadastro .bannerInicial span,.pg-agendamento-mudanca .bannerInicial span {
      font-size: 25px;
    }
    .pg-cadastro .bannerInicial .textoBanner, .pg-agendamento-mudanca .bannerInicial .textoBanner {
      padding: 60px 0;
    }
    .pg-blog .bannerInicial span {
      font-size: 21px;
      letter-spacing: 2px;
    }
    .pg-blog .bannerInicial h2 {
      font-size: 30px;
    }
    .pg-blog .bannerInicial .textoBanner {
      padding: 50px 0;
    }
    .pg-blog .ultimosPosts .posts ul.listaDePost li.post {
        padding: 0 10px;
    }
    .pg-post .breadcrumbs ul li,.pg-post .breadcrumbs ul li.ativo {
      font-size: 15px;
    }
    .pg-post .informacoesPost h1.tituloPost {
      font-size: 30px;
    }
    .pg-post .informacoesPost span.dataPost {
      font-size: 17px;
    }
    .pg-post .conteudoPost {
      font-size: 15px;
    }
    .pg-post .conteudoPost h2 {
      font-size: 25px;
    }
    .pg-post .informacoesPost {
      margin-top: 30px;
    }
  }

  @media(max-width: 610px){
    .pg-inicial .sessaoInicial .conteudo .aviso {
      font-size: 12px;
      font-weight: 700;
    }
    .pg-inicial .sessaoInicial .conteudo h6.subtitulo {
      font-size: 16px;
      font-weight: 400;
    }
    .pg-inicial .sessaoInicial .conteudo h3.titulo {
      padding-top: 35px;
      font-size: 23px;
    }
    .pg-inicial .sessaoInicial .conteudo .botoes a {
      padding: 9px 0;
      max-width: 150px;
      font-size: 10px;
    }
    .pg-inicial .vantagens figure img {
      max-width: 350px;
    }
    .pg-inicial .vantagens .textoVantagens {
      padding: 0;
      padding-top: 60px;
    }
    .pg-inicial .vantagens .textoVantagens h3.titulo {
      font-size: 28px;
    }
    .pg-inicial .vantagens .textoVantagens h3.titulo::after {
      height: 1px;
    }
    .pg-inicial .vantagens .textoVantagens p {
      font-size: 17px;
    }
    .pg-inicial .servicos .listaServicos ul li .textoServico h3 {
      font-size: 20px;
    }
    .pg-inicial .noticias .postsBlogs ul.listaDePost li.post {
      padding: 0 50px;
    }
    .pg-quem-somos .inicial .textoBanner h2 {
      font-size: 30px;
    }
    .pg-quem-somos .sobreNexus .textoSobre h4 {
      font-size: 25px;
    }
    .pg-quem-somos .sobreNexus .textoSobre p {
      font-size: 15px;
    }
    .pg-quem-somos .inicial .textoBanner p {
      font-size: 23px;
      margin: 0;
    }
    .pg-quem-somos .inicial {
      min-height: 300px;
    }
    .pg-quem-somos .inicial .textoBanner {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .pg-quem-somos .sobreNexus .redesSociais ul li a i {
      width: 100px;
      height: 100px;
      font-size: 30px;
      line-height: 100px;
    }
    .pg-login .bannerLogin a {
      font-size: 14px;
      margin: 10px auto 0;
    }
    .pg-login .bannerLogin strong {
      font-size: 36px;
      padding: 0 10px;
    }
    .pg-login .bannerLogin span {
      font-size: 30px;
    }
    .pg-contato .formularioContato .redesSociaisContato ul li a span {
      font-size: 13px;
    }
    .pg-contato .formularioContato .redesSociaisContato ul li a i {
      width: 80px;
      height: 80px;
      font-size: 27px;
      line-height: 80px;
    }
    .pg-contato .formularioContato p::after {
      width: 80px;
      height: 1px;
    }
    .pg-contato .formularioContato p {
      font-size: 21px;
    }
    .pg-contato .formularioContato form input {
      font-size: 14px;
    }
    .pg-contato .formularioContato form span.maskInput::before {
      font-size: 17px;
    }
    .pg-contato .bannerContato span {
      font-size: 25px;
      letter-spacing: 3px;
    }
    .pg-contato .bannerContato h4 {
      font-size: 30px;
    }
    .pg-contato .bannerContato .conteudoBanner {
      padding: 50px 0;
    }
    .pg-contato .formularioContato form input[type="submit"] {
      max-width: 180px;
      margin: 30px auto;
    }
    .pg-contato .formularioContato form textarea, .pg-contato .formularioContato form input{
      padding-left: 65px;
    }
    .pg-contato .formularioContato form span.maskInput::before {
      width: 50px;
    }
    .pg-cadastro .cadastro form fieldset .iconeForm, .pg-agendamento-mudanca form fieldset .iconeForm {
      vertical-align: top;
      display: block;
      margin: 20px auto;
    }
    .pg-cadastro .cadastro form fieldset .camposForm,.pg-agendamento-mudanca form fieldset .camposForm {
      width: 95%;
      display: block;
      margin: 0 auto;
    }
    .pg-cadastro .cadastro form fieldset .camposForm label {
      font-size: 20px;
      width: 33%;
    }
    .pg-cadastro .cadastro form fieldset .camposForm label input[type="radio"] {
      width: 15px;
      height: 15px;
      margin-right: 0;
    }
    .pg-cadastro .cadastro form fieldset legend,.pg-agendamento-mudanca form fieldset legend {
      font-size: 20px;
    }
    .pg-cadastro .cadastro form fieldset .camposForm input[type="text"], .pg-cadastro .cadastro form fieldset .camposForm input[type="email"], .pg-agendamento-mudanca form fieldset .camposForm input[type="text"], .pg-agendamento-mudanca form fieldset .camposForm input[type="email"] {
      font-size: 14px;
      padding-left: 65px;
    }
    .pg-agendamento-mudanca form fieldset .camposForm input[type="date"]{
      font-size: 14px;
      padding-left: 65px;
    }
    .pg-cadastro .cadastro form fieldset .camposForm span.maskInput::before,.pg-agendamento-mudanca form fieldset .camposForm span.maskInput::before {
      width: 50px;
      font-size: 17px;
    }
    .pg-cadastro .cadastro form fieldset .camposForm span.maskInput img {
      max-width: 20px;
      left: 16px;
    }
    .pg-blog .ultimosPosts .posts ul.listaDePost li.post {
      padding: 0 50px;
      width: 100%;
    }
    .pg-post .conteudoPost h2 {
      font-size: 20px;
    }
  }

  @media(max-width: 520px){
    .pg-blog .ultimosPosts .posts ul.listaDePost li.post {
      padding: 0 20px;
      width: 100%;
    }
    .pg-post .informacoesPost h1.tituloPost {
      font-size: 24px;
    }
    .pg-post .informacoesPost span.dataPost {
      font-size: 16px;
    }
    .pg-post .conteudoPost {
      font-size: 14px;
    }
    .pg-post .conteudoPost h2 {
      font-size: 17px;
    }
  }

  @media(max-width: 445px){
    .pg-inicial .noticias .postsBlogs ul.listaDePost li.post {
        width: 100%;
        padding: 0 ;
    }
    .pg-inicial .sessaoInicial .conteudo h3.titulo {
      font-size: 19px;
      padding: 35px 5px 0;
    }
    .pg-inicial .sessaoInicial .conteudo h6.subtitulo {
      font-size: 14px;
    }
    .pg-inicial .sessaoInicial .conteudo .botoes a{
      margin-bottom: 10px;
    }
    .pg-quem-somos .inicial .textoBanner h2 {
      font-size: 25px;
    }
    .pg-quem-somos .inicial .textoBanner p {
      font-size: 20px;
      margin: 0;
    }
    .pg-quem-somos .sobreNexus .textoSobre h4 {
      font-size: 23px;
    }
    .pg-quem-somos .inicial {
      min-height: 250px;
    }
    .pg-login .bannerLogin span {
      font-size: 24px;
    }
    .pg-login .bannerLogin strong {
      font-size: 29px;
      line-height: 34px;
    }
    .pg-login .bannerLogin a {
      font-size: 13px;
      margin: 30px auto 0;
    }
    .pg-login .formLogin .logo figure img {
      max-width: 100px;
    }
    .pg-login .formLogin form input {
      padding: 10px 5px;
      padding-left: 65px;
    }
    .pg-login .formLogin form span.inputPass::before,.pg-login .formLogin form span.inputText::before {
      height: 95%;
      font-size: 15px;
    }
    .pg-login .bannerLogin a {
      border-radius: 4px;
      padding: 12px 5px;
      max-width: 200px;
      font-size: 12px;
    }
    .pg-login .formLogin form button {
      font-size: 16px;
      padding: 10px 13px;
      border-radius: 4px;
      margin-top: 20px;
    }
    .pg-contato .formularioContato form input {
      padding: 12px 5px;
      padding-left: 85px;
    }
    .pg-contato .bannerContato span {
      font-size: 20px;
    }
    .pg-contato .bannerContato h4 {
      font-size: 25px;
    }
    .pg-contato .bannerContato .conteudoBanner {
      padding: 30px 0;
    }
    .pg-cadastro .cadastro form fieldset .camposForm label {
      font-size: 17px;
      width: 50%;
    }
    .pg-cadastro .cadastro form fieldset .camposForm label input[type="radio"] {
      margin-top: 3px;
    }
    .pg-cadastro .bannerInicial span,.pg-agendamento-mudanca .bannerInicial span {
      font-size: 20px;
    }
    .pg-cadastro .bannerInicial h2,.pg-agendamento-mudanca .bannerInicial h2 {
      font-size: 24px;
    }
    .pg-cadastro .cadastro form input[type="submit"], .pg-agendamento-mudanca form input[type="submit"] {
      font-size: 18px;
      max-width: 180px;
      margin: 20px auto;
      display: block;
    }
    .pg-cadastro .cadastro form fieldset legend,.pg-agendamento-mudanca form fieldset legend {
      text-align: center;
      margin: 0;
    }
    .pg-cadastro .cadastro form fieldset {
      border-radius: 7px;
    }
    .pg-cadastro .bannerInicial h2, .pg-agendamento-mudanca .bannerInicial h2{
      padding: 0 10px;
    }
    .pg-blog .bannerInicial span {
      font-size: 19px;
    }
    .pg-blog .bannerInicial h2 {
      font-size: 25px;
      padding: 0 10px;
    }
    .pg-blog .ultimosPosts .posts ul.listaDePost li.post {
      padding: 0 10px;
    }
    .pg-blog .ultimosPosts .cabecalhoPosts p {
      font-size: 20px;
    }
  }
  @media(max-width: 425px){
    .pg-quem-somos .inicial .textoBanner h2 {
      font-size: 20px;
    }
    .pg-quem-somos .sobreNexus .textoSobre h4 {
      font-size: 22px;
    }
    .pg-quem-somos .sobreNexus .redesSociais ul li a i {
      width: 80px;
      height: 80px;
      font-size: 25px;
      line-height: 80px;
    }
    .pg-quem-somos .sobreNexus .redesSociais ul li a span {
      font-size: 20px;
    }
    .pg-quem-somos .sobreNexus .redesSociais ul li a p {
      font-size: 13px;
    }
    .pg-contato .formularioContato .redesSociaisContato ul li {
      width: 100%;
    }
  }

  .containerFull{
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
  }
  .relativeClass{
    position: relative;
    background: #fff;
  }
